{% set title %}Guinea Worm: Modern efforts to eradicate an ancient parasite{% endset %}

{% extends 'project.njk' %}
{% block page %}
    <p class="text-italic text-muted">This was written for a course in population health.</p>
    <div class="grid">
        <div class="column column-8 text-serif text-large">
            <p>There are three animals whose common names start with ‘guinea’. Two of them I kept as a child, while the
                third is a universally despised parasitic worm targeted for planned extinction. Four decades of
                eradication efforts have brought the Guinea worm to the brink of extinction, from an estimated 3.5
                million cases in 1986 to just 54 in 2019<sup>1</sup>⁠.

            <p>Guinea worm, <i>dracunculus medinesis</i>, is a parasitic nematode that begins life in stagnant water. It
                transits through copepod crustaceans of the genus <i>cyclops</i> (water fleas) which are then unknowingly
                ingested by humans in their drinking water<sup>2</sup>⁠. The fleas dissolve in gastric acid, leaving the worm
                larvae to develop in the stomach over the next 90 days<sup>3</sup>⁠. After using the human body as a love
                hotel, male worms die and leave their sweethearts to crawl through muscle tissue over the next few
                months<sup>4</sup>⁠. Preferring to make her debut through the lower limbs, the lady Guinea worm (by now a
                meter long) releases some embryos beneath the skin<sup>5</sup>⁠. This causes a burning, itchy allergic reaction
                in the form of an ulcer filled with pus and larvae, demanding attention like a <i>quinceañera</i>
                dress<sup>5</sup>. When the blister bursts and the victim rubs it with water, the worm greets the world by
                poking her posterior through the ulcer and releasing more embryos into the water, seeking to complete the
                cycle<sup>4</sup>⁠.

            <p>Dracunculiasis is the disease caused by parasitic Guinea worm infection<sup>3</sup>⁠. Terrible itchiness
                occurs as the worm makes its way to the skin; nausea, vomiting, diarrhoea and fever follow soon after it
                emerges<sup>6</sup>⁠. Not only is the blister agonising, it can also lead to secondary infection,
                permanent disability and fatal tetanus or septicaemia<sup>6</sup>⁠. Over the 30-60 days it takes for the
                worm to fully emerge, all that can be done is gradually pull it out by winding it around a stick, while 
                debilitating pain prevents people from walking until the worm is completely removed<sup>6</sup>⁠. Worms that remain
                or otherwise die inside the body can calcify, cause arthritis if they end up in joints, or paralysis if
                they end up in the spinal cord<sup>5,7</sup>. There is no cure or vaccination, and infection does not
                confer immunity<sup>3</sup>⁠.

            <p>Since transmission depends on water availability, dracunculiasis is a seasonal condition<sup>3</sup>⁠. In
                wet regions, transmission is most likely at the end of the dry season when cyclops concentration in
                remaining surface water is highest. Conversely, arid regions experience greater transmission during the
                wet season, where more surface water is available.

            <p>Seasonal onset of symptoms often coincides with harvest time, causing community-wide labour shortages to
                such an extent that the Dogon people of Mali call dracunculiasis “the disease of the empty
                granary”<sup>4</sup>⁠. A 1989 study in the Nigerian state of Imo found dracunculiasis caused severe
                individual disability for about one month during the peak harvest and preparation season for rice and
                yam crops<sup>8</sup>⁠. A 1988 UNICEF working paper concerning a similar region of Nigeria motivated
                eradication efforts by estimating a return of US$20 million in additional annual profit from rice crops
                alone<sup>9</sup>⁠.

            <p>Guinea worm is more than just a detriment to agriculture. Ilegbodu’s 1986 study of 1495 Nigerian pupils
                found that 21% of students were infected, and those who were infected missed up to 25% of the school
                year – ten times more than their classmates<sup>10</sup>⁠. Infected mothers are less able to care for
                their families, with a Sudanese survey finding that “children were three times more likely to be
                malnourished if more than half the adult [household] members had suffered from the GWD [dracunculiasis]
                in the previous year.”<sup>11</sup>

            <p>Ultimately, dracunculiasis is a rural disease. Rural communities are more likely to drink from unimproved
                water sources that harbour cyclops. They rely on their feet for transport, to tend crops, and walk to
                distant schools. Dracunculiasis remained a neglected disease until the 1980s, affecting people at the
                edge of development who were out of sight from urban hubs<sup>12</sup>⁠. It hits poor people the hardest,
                perpetuating poverty.

            <p>The Guinea worm has been known since ancient times, with some records dating back 4500
                years<sup>12</sup>⁠. Historically it covered Africa, the Middle East, Pakistan, India, Brazil, Uzbekistan
                and the West Indies (through the African slave trade)<sup>4,13,14⁠</sup>. Sister species of Dracunculus
                continue to plague animals across the planet except in the Australia-Pacific region<sup>4</sup>⁠. The
                Guinea worm makes a guest appearance in the Hebrew Book of Numbers (21:4-8) as a “fiery serpent” to be
                set upon a pole<sup>15</sup>⁠. The modern Western medical profession employs the Guinea worm as a mascot,
                to the extent that the Rod of Asclepius may have originally been a depiction of extraction by winding it
                around a stick<sup>16</sup>⁠.

            <p>Russian naturalist Alexei Fedchenko was the first to identify microscopic crustaceans as the intermediate
                host of Guinea worm in 1870, and that drinking them serves as the infection route<sup>14</sup>⁠.
                Heartthrob of helminthology Robert Leiper launched his career with an expedition to Ghana in 1905, where
                he confirmed Fedchenko’s results regarding Guinea worm and further developed an understanding of the
                parasite’s lifecycle – particularly, that the microcrustacean intermediate host must dissolve in stomach
                acid<sup>17,18</sup>. Another observation that would become crucial during tail-end eradication efforts
                over a century later, was of Guinea worm infection in both wild and domesticated animals<sup>19⁠</sup>.

            <p>Leiper suggested simple and inexpensive control measures such as avoiding contaminated water; building
                water access infrastructure such as wells that prevent contamination; killing copepods during
                transmission season (steam was one such method); and introducing fish that would eat copepods, as he
                observed lack of disease where fish were living in the water source<sup>12</sup>⁠. Leiper’s career
                quickly took him to loftier heights such as hookworm research, six years of tapeworm self-infection – he
                referred to the worm as his dining companion – and founding the Journal of Helminthology<sup>20</sup>⁠.

            <p>Most Guinea worm intervention programs trace their methods back to Leiper’s recommendations. The USSR,
                in a region concerning modern-day Uzbekistan, eliminated dracunculiasis by 1931 through water
                management<sup>21</sup>. They also shot dogs suspected of harbouring the worm (as they did during the
                liquidation phase of the Chernobyl disaster – the Soviets didn’t hesitate to shoot dogs)<sup>22</sup>⁠. 
                In some regions, eradication has come as a coincidence. Iran treated water storage cisterns with
                insecticide, which eliminated dracunculiasis but not malaria as originally intended<sup>12</sup>⁠.
                Through the widespread introduction of piped water and other improvements in living conditions, Saudi
                Arabia stopped seeing cases by the 1970s<sup>23</sup>⁠. Global Guinea worm eradication efforts were
                initiated by the U.S. Centers for Disease Control and Prevention in 1980. The World Health Assembly
                adopted its first eradication resolution in 1986, with the Carter Center coordinating implementation
                with national Ministries of Health<sup>24</sup>⁠. With no vaccine or cure, there are three varieties of
                intervention: health education, management of drinking water, and case management.

            <h3 class="align-center">Health education</h3>

            <p>Water filtration is highly effective, as adult cyclops are about 1mm in length and can easily be filtered
                out with a cloth; nylon or polyester fabric becomes clogged less quickly than cotton<sup>4</sup>⁠.
                Filtration cloth needs to be washed and will eventually wear out, so a continual supply is
                required<sup>4</sup>⁠. Where cost is a concern, smaller amounts of cloth can be economically paired with
                a plastic tube to create a “straw” filter, which has the added benefit of portability for those who
                drink where they please, such as field workers<sup>25</sup>⁠.

            <p>While some equipment is required, filtration is primarily about health education and behaviour change.
                Bernhard Bierlich’s anthropological study found that people in Northern Ghana were pragmatic and willing
                to try filters, but were inconvenienced by the time it took for muddy water to settle (lest the cloth
                become quickly clogged)<sup>26</sup>⁠. Furthermore, the senior woman of the household was often seen to
                ‘own’ the filter, which meant that it might not be used if she was busy elsewhere – and that winning her
                cooperation would be crucial for the success of education interventions. Nevertheless, filtration came
                to be viewed so favourably that households in Northern Ghana do it even when Guinea worm infection isn’t
                their main concern<sup>27</sup>⁠.

            <p>As a matter of behaviour change, stopping people from washing their wounds in drinking water sources also
                breaks the cycle of transmission. Although this message was initially considered of secondary importance
                to other measures, the Sudanese province of Bahr el Ghazal saw an 88% reduction of cases between 1998
                and 1999 as the result of 4,304 village health education sessions promoting the message<sup>4</sup>⁠.

            <p>Another anthropologist, William Brieger investigated folk understandings of health and attitudes toward
                Guinea worm disease. The Ghanaian community he studied saw the Guinea worm as a part of the body, an
                inevitable aspect of the human condition much like the common cold, to be endured but not
                cured<sup>28</sup>⁠. It was a common affliction that caused little concern, but was attributed as a
                condition of one’s blood being “sweet” as opposed to “bitter”. The community did not suspect it was
                transmitted through drinking water, but more generally, that health and safety were conferred by one’s
                home and that straying too far from the protection of home was a risk factor for any aspect of health.
                Brieger concluded that contemporary health education efforts were over-simplistic and ought to make more
                of an effort to respect and incorporate existing perceptions of health<sup>28</sup>⁠.

            <h3 class="align-center">Water infrastructure</h3>

            <p>Provision of clean water is a major UN development goal that provides a host of benefits beyond Guinea
                worm eradication<sup>29</sup>⁠. In the context of dracunculiasis, all that’s needed is to supply water
                from a source free of cyclops. Wells and piped water infrastructure both provide this, but must be
                maintained and may not be feasible to install in every tiny village or hamlet<sup>30</sup>⁠. Improved
                water infrastructure needs to be convenient, as people will prefer surface water if it’s significantly
                closer than a well or a tap. It also needs to be ubiquitous if migratory populations are to use it, and
                together with filters must be used exclusively (no opportunistic sipping from puddles)<sup>4</sup>⁠.

            <p>Chemical treatment of step wells with organic insecticides such as Temephos was successfully employed in
                step wells across India, Pakistan and Cameroon<sup>4</sup>⁠. In the African context, it’s difficult to
                correctly estimate dosage for irregularly shaped ponds and dams, even more so with rain and
                evaporation<sup>4</sup>⁠. Overall, insecticide is too labour intensive to be used widely, but did play a
                role in Uganda and may be useful for end-game eradication in the worm’s dwindling
                strongholds<sup>4,31</sup>⁠.

            <h3 class="align-center">Management & Containment</h3>

            <p>Surgical removal of the worm just before it emerges has several benefits. It prevents both pain and
                disability from natural emergence, and the contamination of water sources. In the experience of Indian
                ayurvedic practitioner B. L. Sharma, patients would travel great distances for the extraction,
                representing a huge win for case detection and containment<sup>32</sup>⁠. In practice, it’s difficult to
                widely maintain a high quality of surgical service and sterility in the field. Palliative treatments
                such as bandaging, controlled immersion in water that won’t be drunk later and wound management still
                provide enough benefit and incentive to self-report cases early<sup>4</sup>⁠. Case containment, similar
                to inpatient admission for the duration of worm removal, is more expensive and of dubious effectiveness
                but may have a role to play during end-game eradication<sup>4</sup>⁠.

            <p>At a high level, the Carter Center reports that case numbers have dropped 99.99% from 3.5 million in
                1986, to 54 provisional cases in 2019<sup>1</sup>⁠. 17 countries have eradicated the disease, leaving
                only South Sudan, Mali, Chad, Ethiopia and Angola1⁠. An estimated 80 million cases have been averted, at
                an estimated cost of US$432m through to 2020<sup>33</sup>⁠. This is a fantastic outcome, highlighting the
                strengths of a coordinated campaign between national health ministries (who are well positioned to
                provide appropriate, localised implementations), United Nations health and development organisations,
                and NGOs such as the Carter Center<sup>4</sup>⁠. A great deal of advocacy and cat-herding has gone into
                the coordination effort, but there’s no evidence of opposition to eradication. Everyone hates the Guinea
                worm.

            <p>However, the eradication program has seen setbacks and is still not finished. Eradication target dates
                have been pushed back from 1995, to 2009, to 2015, and now 2030<sup>33</sup>⁠. The first two dates were
                overambitious targets and insufficient funding by national governments caused them to slip. The 2015
                date was missed due to instability from armed conflict and newly observed infection of domestic and wild
                animals<sup>33</sup>⁠. Animal transmission shouldn’t come as a surprise given the Soviet experience and
                Leiper’s observations from a hundred years prior, and may represent an unfortunate oversight. Long-tail
                eradication efforts are now targeting transmission in animals, as well as behaviours such as burying of
                fish entrails suspected of acting as a transmission vector for dogs<sup>2</sup>⁠. Leiper’s suggestion of
                introducing predatory fish into water bodies seems to have been neglected and may prove instrumental in
                reducing cases in wild animals. Fitzpatrick’s 2017 estimates show that even with extra funding needed as
                a result of setbacks, eradication remains clearly more cost-effective than control through
                2030<sup>33</sup>⁠. Eradication represents good value if it prevents enough cases before the WHO target
                of universal water access is met (in which case eradication comes for free)<sup>29</sup>⁠.

            <p>The parasite’s lifecycle has proven vulnerable to a variety of inexpensive interventions – none a silver
                bullet, each with its own benefits and drawbacks. The Guinea worm may move easily through muscle tissue,
                but she is no match against an almost-impenetrable stack of ‘Swiss cheese’ interventions pitted against
                her<sup>31</sup>⁠; her days are numbered.

            <h3>References.</h3>
                <span class="ref-indent">1.</span>
                    The Carter Center. <a href="https://www.cartercenter.org/health/guinea_worm/index.html">Guinea Worm
                    Eradication Program at the Carter Center</a> (2020, accessed 2 November 2020).
                    <br>
                <span class="ref-indent">2.</span>
                    Molyneux D, Sankara DP. Guinea worm eradication: Progress and challenges — should we beware of the
                    dog? Epub ahead of print 2017. DOI: 10.1371/journal.pntd.0005495.
                    <br>
                <span class="ref-indent">3.</span>
                    Greenaway C. Dracunculiasis (guinea worm disease). Cmaj 2004; 170: 495–500.
                    <br>
                <span class="ref-indent">4.</span>
                    Cairncross S, Muller R, Zagaria N. Dracunculiasis (guinea worm disease) and the eradication
                    initiative. Clin Microbiol Rev 2002; 15: 223–246.
                    <br>
                <span class="ref-indent">5.</span>
                    Khajavi A. Guinea worm calcification: A report of 83 cases. Clin Radiol 1968; 19: 433–435.
                    <br>
                <span class="ref-indent">6.</span>
                    Cavendish J. The last bastions of guinea-worm disease. Bull World Health Organ 2014; 92: 854–855.
                    <br>
                <span class="ref-indent">7.</span>
                    Schmidt GD, Roberts LS. Foundations of parasitology. 8th ed. Boston: McGraw-Hill Higher Education,
                    2009.
                    <br>
                <span class="ref-indent">8.</span>
                    Smith GS, Blum D, Huttly SR, et al. Disability from dracunculiasis: effect on mobility. Ann Trop Med
                    Parasitol 1989; 83: 151–158.
                    <br>
                <span class="ref-indent">9.</span>
                    de Rooy C, Edungbola LD. <a href="http://www.ircwash.org/sites/default/files/245.3-87GU-5960.pdf">
                    Guinea Worm Control As a Major Contributor To Self-Sufficiency in Rice Production in Nigeria</a>.
                    UNICEF Water, Environ Sanit Sect (1987).
                    <br>
                <span class="ref-indent">10.</span>
                    Ilegbodu VA, Kale OO, Wise RA, et al. Impact of guinea worm disease on children in Nigeria. Am J
                    Trop Med Hyg 1986; 35: 962–964.
                    <br>
                <span class="ref-indent">11.</span>
                    Tayeh A, Cairncross S. The impact of dracunculiasis on the nutritional status of children in South 
                    Kordofan, Sudan. Ann Trop Paediatr 1996; 16: 221–226.
                    <br>
                <span class="ref-indent">12.</span>
                    Tayeh A, Cairncross S, Cox FEG. Guinea worm: From Robert Leiper to eradication. Parasitology 2017;
                    144: 1643–1648.
                    <br>
                <span class="ref-indent">13.</span>
                    WHO <a href="https://www.who.int/dracunculiasis/background/en/">Historical background</a>
                    (2014, accessed 31 October 2020).
                    <br>
                <span class="ref-indent">14.</span>
                    Fedchenko AP. CONCERNING THE STRUCTURE AND REPRODUCTION OF THE GUINEA WORM (FILARIA MEDINENSIS L.).
                    1971; 20: 511–523.
                    <br>
                <span class="ref-indent">15.</span>
                    The Bible. Numbers 21:4-8 (King James Version)
                    <br>
                <span class="ref-indent">16.</span>
                    Despommier D. People, Parasites, and Plowshares: Learning from Our Body’s Most Terrifying Invaders.
                    New York, 2016.
                    <br>
                <span class="ref-indent">17.</span>
                    Stothard JR, Kabatereine NB, Archer J, et al. A centenary of Robert T. Leiper’s lasting legacy on
                    schistosomiasis and a COUNTDOWN on control of neglected tropical diseases. Parasitology 2017; 144:
                    1602–1612.
                    <br>
                <span class="ref-indent">18.</span>
                    Leiper RT. THE INFLUENCE OF ACID; ON GUINEA WORM LARVAE ENCYSTED IN CYCLOPS. Br Med J 1906; 1: 19–20.
                    <br>
                <span class="ref-indent">19.</span>
                    Leiper RT. Guinea worm in domesticated animals with a note of its discovery by Mr Charles Grey in a
                    leopard. J Trop Med Hyg 1910; 13: 65–66.
                    <br>
                <span class="ref-indent">20.</span>
                    Macdonald G, Mac Arthur W, Cameron TW., et al. Robert Thomson Leiper, 1881-1969. J Helminthol 2020;
                    XLIII: 255–261.
                    <br>
                <span class="ref-indent">21.</span>
                    Litvinov SK. How the USSR rid itself of dracunculiasis. World Health Forum 1991; 12: 217–219.
                    <br>
                <span class="ref-indent">22.</span>
                    Sharkey L. <a href="https://www.bustle.com/p/what-happened-to-the-dogs-of-chernobyl-the-harrowing-events-of-the-tv-series-are-sadly-true-17928470">
                    What Happened To The Dogs Of Chernobyl? The Harrowing Events Of The TV Series Are Sadly True</a>
                    (2019, accessed 1 November 2020).
                    <br>
                <span class="ref-indent">23.</span>
                    Ministry of Health. Eradication of Dracunculiasis in the Kingdom of Saudi Arabia. 1998.
                    <br>
                <span class="ref-indent">24.</span>
                    The Carter Center. <a href="http://www.cartercenter.org/resources/gallery/images/highres/GuineaWorm_Timeline.pdf">
                    Guinea Worm: Countdown To Zero Timeline</a> (2016).
                    <br>
                <span class="ref-indent">25.</span>
                    WHO Collaborating Center for Research - Training and Eradication of Dracunculiasis. GUINEA WORM
                    WRAP-UP #92. Atlanta, GA, 1999.
                    <br>
                <span class="ref-indent">26.</span>
                    Bierlich B. Notions and treatment of guinea worm in Northern Ghana. Soc Sci Med 1995; 41: 501–509.
                    <br>
                <span class="ref-indent">27.</span>
                    Olsen A, Magnussen P, Anemana S. The acceptability and effectiveness of a polyester drinking-water
                    filter in a dracunculiasis-endemic village in Northern Region, Ghana. Bull World Health Organ 1997;
                    75: 449–452.
                    <br>
                <span class="ref-indent">28.</span>
                    Brieger WR, Kendall C. Learning from local knowledge to improve disease surveillance: Perceptions
                    of the Guinea worm illness experience. Health Educ Res 1992; 7: 471–485.
                    <br>
                <span class="ref-indent">29.</span>
                    WHO, UNICEF. <a href="https://washdata.org/sites/default/files/documents/reports/2018-01/JMP-2017-report-final-highlights.pdf">
                    Progress on Drinking Water, Sanitation and Hygiene 2017</a> (2017).
                    <br>
                <span class="ref-indent">30.</span>    
                    Steib K, Mayer P. Epidemiology and vectors of Dracunculus medinensis in northwest Burkina Faso, West
                    Africa. Ann Trop Med Parasitol 1988; 82: 189–199.
                    <br>
                <span class="ref-indent">31.</span>
                    Rwakimari JB, Hopkins DR, Ruiz-Tiben E. Uganda’s successful Guinea Worm Eradication Program. Am J
                    Trop Med Hyg 2006; 75: 3–8.
                    <br>
                <span class="ref-indent">32.</span>
                    Rohde JE, Sharma BL, Patton H, et al. Surgical extraction of guinea worm: disability reduction and
                    contribution to disease  control. Am J Trop Med Hyg 1993; 48: 71–76.
                    <br>
                <span class="ref-indent">33.</span>
                    Fitzpatrick C, Sankara DP, Agua JF, et al. The cost-effectiveness of an eradication programme in the
                    end game: Evidence from guinea worm disease. PLoS Negl Trop Dis; 11. Epub ahead of print 2017. DOI:
                    10.1371/journal.pntd.0005922.
            </div>
        </div>
    </div>
{% endblock %}