{% set title %}Queer Nuns: Behaviour Change Theories and the Play Fair! Campaign{% endset %}

{% extends 'project.njk' %}
{% block page %}
    <div class="grid">
        <div class="column column-8 text-serif text-large">
            <p>On Easter Saturday in 1979, three bored men decided to dress in nun’s habit and outrageous white facial
                makeup<sup>1</sup>⁠. Carrying a toy machine gun, they took a walking tour across San Francisco. One of
                the trio, Ken Bunch, likened the effect on bystanders to a “psychological car wreck”<sup>1</sup>.
                Realising they had a “stick of dynamite” with which to fixate crowds, they decided to sustain the
                spectacle as a tool for social change<sup>1</sup>.

            <p>Incorporating as the Sisters of Perpetual Indulgence (SPI), they busied themselves with bingo/disco
                benefits for gay Cuban refugees, charity dog shows, political activism, and chasing away fundamentalist
                demonstrators<sup>1⁠</sup>. With sexually transmitted infection running rampant in the gay community, an
                SPI committee including two public health nurses (Sister Roz Erection R.N. and Sister Florence
                Nightmare, R.N.) produced Play Fair! in 1982, a pamphlet to promote safer sex practice<sup>2⁠</sup>.
                Sister Titania Humperpickle reported 84 active affiliated orders of SPI across the world as of 2016,
                many of which adapt Play Fair! for modern times and local audiences<sup>1</sup>⁠. Here, we describe the
                original campaign, relate it to the Health Belief Model and Social Cognitive Theory of behavioural
                change, and consider its relation to harm reduction theory.
            
            <p>Prior to 1979, sexual health messaging in the United States exclusively targeted heterosexuals. It
                promoted monogamy, contraception and prevention of venereal disease in men – particularly those in the
                military<sup>3</sup>⁠. Meanwhile, homosexual men were flocking to San Francisco to find not only sexual
                liberation but a culture where, as SPI founding Grand Mother Vish-Knew said, “if you didn’t get laid
                every other day, oh my God, something’s wrong with you.”<sup>1</sup>⁠.

            <p>In 1980, the National Coalition of Gay Sexually Transmitted Disease Services published sex-positive
                Guidelines<sup>4</sup>⁠ without moral judgement for gay men. Bay Area Physicians for Human Rights (BAPHR)
                adapted and circulated these guidelines in order to raise awareness about STDs and reduce transmission
                in the local community<sup>3</sup>⁠. While the Guidelines made several advances (like acknowledging the
                existence and culture of gay men), the clinical language didn’t cut through with the community and STD 
                cases continued to rise<sup>3</sup>⁠. With the same objective, Play Fair! adapted the Guidelines with
                culturally appropriate language, added cheeky cartoons, and in a pastoral sense, advocated for a culture
                of care towards others. Compare the following translation:

                <blockquote class="mx-8">“When you do go to bed with someone, undress in a lighted area and casually
                    inspect for growths, sores, or rashes, especially around the genitals” 
                    <br><cite class="mx-8">&mdash; BAPHR Guidelines<sup>4</sup></cite>    
                </blockquote>

                <blockquote class="mx-8">“Check out your man before you lay hands on one another. One sister even
                    carries a flashlight for those all-too-frequent encounters in the darkness”
                    <br><cite class="mx-8">&mdash; Play Fair!<sup>2<sup>⁠</cite>
                </blockquote>

            <p>The ethos is best summarised in a prayer released alongside Play Fair!: “Let us spread affection without
                infection”<sup>1</sup>⁠.

            <p>Play Fair! was first distributed at San Francisco Gay Freedom Day in June 1982, and is now often
                accompanied with free condoms and lubricant<sup>1</sup>⁠. By this stage, the Sisters were highly credible
                insiders within the gay community, with a reputation for care and advocacy. They quickly found that
                their high camp appearance was key to cutting through to sensitive topics in their street ministry. One
                reason was that people felt more comfortable talking to a theatrical persona than, say, a health worker
                in street clothes<sup>1</sup>⁠. Another was the appeal to pastoral tradition almost universally
                recognised by Americans: despite the parody aspect of their presentation, Sister Agnes Dei'Afta Tamara
                maintains that Sisters see themselves as legitimate nuns who work in the same spirit of service as their
                Catholic counterparts<sup>5</sup>⁠. Sister Unity Divine described the fun and artifice as “...the lure
                [with which] you hook them, and then you give them the real”<sup>1</sup>⁠. It draws an audience,
                entertains them, and allows delivery of a sincere message. Leveraging humour, costume and existing brand
                credibility meant that Play Fair! was read and shared widely.
            
            <p>The Health Belief Model (HBM) traces its roots to the 1950s, as a way of interrogating why people don’t
                access health services<sup>6</sup>⁠. For this reason, it may have influenced the design of Play Fair!,
                perhaps if indirectly. One HBM construct is perceived threat – a combination of susceptibility and risk.
                While the target population was aware of susceptibility to venereal disease, the threat was widely
                dismissed because it was considered easily treatable<sup>1</sup>⁠. This was not true in the case of
                Hepatitis B, the severity of which Play Fair! addressed by noting the possibility of chronic, possibly
                fatal, consequences. The term “AIDS” was coined within days of Play Fair!’s initial
                distribution<sup>7</sup>⁠, but at initial publication, Kaposi’s sarcoma (“gay cancer”) and pneumocystis
                pneumonia were early proxies for the condition. The severity of AIDS quickly became evident and
                uncontested1⁠.

            <p>Perceived barriers – the negative consequences of acting in the interests of health – are the most
                powerful single predictor in studies employing HBM<sup>6</sup>⁠. Given the extent to which gay men in San
                Francisco valued and prioritised frequent casual sex, a key innovation of Play Fair! was to present
                risk-reducing recommendations that did not depend on meeting unacceptable barriers such as abstinence or
                monogamy. In fact, Play Fair! was partly funded by benefits from a sex party and sale of ashes from a
                bath house lost to fire<sup>8</sup>⁠.

            <p>Clover’s 2006 study<sup>9</sup> of barriers to older gay men accessing health services is illuminating if
                we presume the attitudes are rooted in experiences from when the men were younger – perhaps in the early
                1980s⁠. Barriers included negative experiences or expectations of poor treatment from healthcare
                providers based on their sexuality, or a reluctance to talk openly about sexuality with providers. Play
                Fair! addresses this by endorsing 15 “gay-sensitive” local medical providers<sup>2</sup>⁠.

            <p>HBM’s construct of benefits concerns the upside of behaviour change. An obvious upside to a sexual
                encounter is the possibility of making a friend with benefits; Play Fair! presents an obvious benefit to
                doing so responsibly in not experiencing the effects of venereal disease, like having to declare
                human-size crabs as dependents on one’s income tax<sup>2</sup>⁠. With religious overtones, it presents
                another benefit as a virtue: be responsible, and protect your community.

            <p>Self-efficacy is conceived the same way in HBM as it is in Social Cognitive Theory (SCT): that
                individuals should feel empowered to take the steps necessary to improve their health<sup>10</sup>⁠.
                Glanz et al.<sup>6</sup>⁠ report that self-efficacy was a significant predictor of condom use;
                Kadden<sup>11</sup>⁠ reports the same for a wider range of behaviour. Of the four ways to increase
                self-efficacy identified by Bandura, quoted by Snelling<sup>10</sup>⁠, the Sisters employ three. They
                offer social modelling (observational learning) as credible community insiders who endorse safer sexual
                behaviour, perhaps even simulating what it might look like to an audience. They improve emotional state
                by employing sex-positive language and the demand doing away with guilt, and their street ministry
                efforts incorporate verbal persuasion. Hinyard and Kreute, quoted in Glanz et al.<sup>6</sup>⁠, say that
                “storytelling in the form of a narrative may be more effective than the presentation of directly
                didactic or persuasive messages” for promoting observational learning; Play Fair! opens with a tale of
                infection within the convent<sup>2</sup>⁠.

            <p>SCT’s construct of impediments is distinct from HBM’s barriers in that a barrier is an unwanted effect of
                a change, whereas an impediment is more of an external influence that makes behaviour change harder –
                and The Sisters confront several. Play Fair! calls out guilt surrounding homosexuality as a problem, and
                places blame on widespread religious sentiment (a longitudinal Gallup Poll showed that almost 90% of
                Americans were either Protestant or Catholic in 1980, with similar figures over the preceding 20
                years<sup>12</sup>⁠). Such guilt can present an impediment to seeking treatment, or as a barrier to those
                who consider infection as “punishment”.

            <p>Other impediments are addressed too: promoting a culture or habit of responsible sexual practice makes
                better decisions easier when impaired by drugs or alcohol; quips about using appropriate lubrication or
                carrying a flashlight also underscore the importance of preparation. Blair mentions that negotiational
                and transactional idioms borrowed from the sadomasochism community provided language to talk about safer
                sex practices<sup>3<sup>⁠.

            <p>Alfred Bandura was based just 30 minutes south of San Francisco at Stanford University, but we can only
                guess whether or not he was influenced by the Sisters at a charity dog show prior to publishing his
                Social Cognitive Theory in 1986. SCT introduces the construct of reciprocal determinism: “that
                individuals are not simply products of their environments but help to create those
                environments”<sup>10</sup>⁠. Blair credits the success of the Sisters’ early initiatives to “amphibious
                activists” such as the public health nurses on the Play Fair! committee, who were members of both the
                queer and health professional communities<sup>3</sup>⁠. They were well positioned to respond to the needs
                they saw and advocate for themselves.

            <p>More broadly, the experience of AIDS in early 1980s San Francisco was conveyed to the Mersey Regional
                Health Authority, who eventually produced the Mersey Model of Harm Reduction in response to drug use in
                Liverpool<sup>13</sup>⁠. In terms of the Transtheoretical Model’s stages of change10⁠⁠, this meant
                motivating behaviour change in people beyond those contemplating quitting drugs outright.
                Stimpson<sup>14</sup> formalises the key components of harm reduction as ACME: raise Awareness; make
                Contact; provide Means for behaviour change; gain Endorsement⁠. Play Fair! can be described in terms of
                ACME, but can also be seen as the foundational work in formulating it.

            <p>Play Fair! was an iconic and influential campaign in terms of behaviour change. It demonstrated the power
                of “amphibious actors” in developing an effective campaign; the benefits of plain, insider language; and
                how to build and leverage street credibility. It is well-grounded in both HBM and SCT, and can be
                considered an early influence on harm reduction theories. In secular life as Bobbi Campbell, Sister
                Florence Nightmare became the first publicly disclosed case and “poster boy” of the AIDS crisis,
                appearing on the cover of Newsweek on August 8th, 1983<sup>15</sup>⁠. May we all, like Bobbi, “expiate
                stigmatic guilt and promulgate universal joy,” per the Sisters’ mission1⁠.

            <h3>References.</h3>
            <div class="ref-list">
                <span class="ref-indent">1.</span>
                    Wilcox MM. Queer Nuns. Kindle edition. New York: New York University Press, 2018.
                    <br>
                <span class="ref-indent">2.</span>
                    Sisters of Perpetual Indulgence. <a href="https://calisphere.org/item/5cafc7e3-63d2-4e35-be05-1cab00b065c0/">Play Fair!</a> [pamphlet]. (1982).
                    <br>
                <span class="ref-indent">3.</span>
                    Blair TR. Safe sex in the 1970s: Community practitioners on the Eve of AIDS. Am J Public Health 2017; 107: 872–879.
                    <br>
                <span class="ref-indent">4.</span>
                    National Coalition of Gay Sexually Transmitted Disease Services. <a href="http://chodarr.org/sites/default/files/chodarr2870.pdf">Official Newsletter of the NCGSTDS, vol.3 no.2</a>, (1981, accessed 16 August 2020).
                    <br>
                <span class="ref-indent">5.</span>
                    Nevins J. <a href="https://www.vice.com/en_us/article/59m3ma/celebrating-easter-sunday-with-a-radical-order-of-drag-nuns-who-exorcised-trump">Celebrating Easter Sunday with a Radical Order of Drag Nuns Who Exorcised Trump</a>, (accessed 18 August 2020).
                    <br>
                <span class="ref-indent">6.</span>
                    Glanz K, Rimer BK, Viswanath K (eds). Health Behavior and Health Education : Theory, Research, and Practice. 4th ed. San Francisco: Wiley. Epub ahead of print 2008. DOI: 10.7326/0003-4819-116-4-350_1.
                    <br>
                <span class="ref-indent">7.</span>
                    Wikipedia contributors. <a href="https://en.wikipedia.org/wiki/HIV/AIDS">HIV</a>. Wikipedia: The Free Encyclopedia, (2020, accessed 18 August 2020).
                    <br>
                <span class="ref-indent">8.</span>
                    Sisters of Perpetual Indulgence. <a href="https://www.thesisters.org/sistory">Sistory</a>, (accessed 18 August 2020).
                    <br>
                <span class="ref-indent">9.</span>
                    Clover D. Overcoming barriers for older gay men in the use of health services: A qualitative study of growing older, sexuality and health. Health Educ J 2006; 65: 41–52.
                    <br>
                <span class="ref-indent">10.</span>
                    Snelling AM (ed). Introduction to Health Promotion. Somerset: John Wiley & Sons (2014).
                    <br>
                <span class="ref-indent">11.</span>
                    Kadden RM, Litt MD. The role of self-efficacy in the treatment of substance use disorders. Addict Behav 2011; 36: 1120–1126.
                    <br>
                <span class="ref-indent">12.</span>
                    <a href="https://news.gallup.com/poll/1690/religion.aspx">Religion | Gallup Historical Trends</a>, (accessed 18 August 2020).
                    <br>
                <span class="ref-indent">13.</span>
                    Ashton JR, Seymour H. Public Health and the origins of the Mersey Model of Harm Reduction. Int J Drug Policy 2010; 21: 94–96.
                    <br>
                <span class="ref-indent">14.</span>
                    Stimson G V. Harm reduction in action: putting theory into practice. Int J Drug Policy 1998; 9: 401–409.
                    <br>
                <span class="ref-indent">15.</span>
                    Wikipedia contributors. <a href="https://en.wikipedia.org/wiki/Bobbi_Campbell">Bobbi Campbell</a>. Wikipedia: The Free Encyclopedia, (2020, accessed 18 August 2020).
            </div>
        </div>
    </div>
{% endblock %}