{% extends 'base.njk' %}
{% block body %}
    <div class="grid grid-hero">
        <div class="hero-content">
            <h1>Mitchell <span class="text-caps">Jeffrey</span></h1>
            <p class="text-muted">
                <i class="ph ph-map-pin"></i> &nbsp; Cairns region, Australia<br>
                <i class="ph ph-airplane"></i> &nbsp; Previously: Canberra; San Francisco Bay Area<br>
            </p>
            <p>
                I'm a science communicator. I use evidence, but also emotion, to help people understand the world in new ways.
                I also write software and make radio. Previously, I kept software systems running reliably for Google.
                Let's chat about projects and collaborations.
            </p>
            <p>
                <a target="_blank" role="button" href="https://forms.gle/M2tuttk7KmpwBPrS6"><i class="ph ph-envelope"></i><span>Contact me</span></a>&nbsp;&nbsp;
                <a target="_blank" role="button" class="secondary outline" href="/content/jeffrey-resume-2022.pdf"><i class="ph ph-file-pdf"></i><span>View Résumé</span></a>
            </p>
        </div>
    </div>

    <h2 class="section-heading">Projects</h2>
    <div class="grid grid-projects">
        {% set card = 'card' %}
        {% for slug in projects %}
        {% include 'projects/' + slug + '.njk' %}
        {% endfor %}
    </div>

    <h2 class="section-heading">Writing</h2>
    <div class="section-body">
        <p>
            I arrange words for enjoyable reading.
            Have me research and synthesise topics I'm unfamiliar with, such as: sex, drugs or parasites.
        </p>
        {% for article in writing %}
        <p><strong><span class="text-caps"><a href="{{ article.url }}">{{ article.title }}</a></span></strong>
            {% if article.publication %}<br><em>{{ article.publication | safe }}</em>{% endif %}
            <br>{{ article.description }}
        </p>
        {% endfor %}
    </div>

    <h2 class="section-heading">Bespoke Content for Schools</h2>
    <div class="section-body">
        <p>Let me build a presentation or workshop based on your students' needs
            and interests. I can bring relevance and perspective to your classroom content &mdash; tell me what you'd like
            covered or just point to sections of the Australian Curriculum you're visiting this semester.
        </p>
        <p>While I can work with any subject matter, my personal strengths are in maths, physics
            (light, sound, forces &amp; energy), computer science &amp; software engineering, the nature of science and how we
            know &amp; discover things.
        </p>
    </div>

    <h2 class="section-heading">For Researchers &amp; Institutions</h2>
    <div class="section-body">
        <p>
            Your work or research can, and should, meaningfully touch communities beyond paywalled journal publications
            and fleeting broadcast media splashes. There's lots to love about community engagement and participation:
        </p>
        <ul>
            <li>Building sentimental &amp; financial support for your work</li>
            <li>Fostering trust in science broadly in our communities</li>
            <li>Opening up to the needs and views of others to inform your work</li>
            <li>Making it easy to persuade or influence, or inform policy, should your research suggest so</li>
        </ul>
        <p>
            I can inspire you to broaden your research impact and build your capacity to do so. Or, if your time is
            limited, I can develop and deliver novel experiential content based on your work and then tell your story
            during my own outreach. Let's discuss the possibilities.
        </p>
    </div>

    <h2 class="section-heading">Education &amp; Employment</h2>
    <div class="section-body">
        <p><strong><span class="text-caps"><a href="https://programsandcourses.anu.edu.au/2021/program/7624xmsco">Master of Science Communication (Outreach)</a></span></strong>
            <br>Australian National University, 2021
        </p>
        <p><strong><span class="text-caps">Graduate Certificate in Science Communication</span></strong>
            <br>Australian National University, 2020
        </p>
        <p><strong><span class="text-caps">Software Engineer; Site Reliability Engineer</span></strong>
            <br>Google. My Maps, Traffic Control SRE, Spanner SRE. 2013-2020
        </p>
        <p><strong><span class="text-caps">B.Sc (Mathematics, Physics)</span></strong>
            <br>2011
        </p>
    </div>

{% endblock %}
