{% if card %}
    <a href="{{ url }}" class="project-card">
        <article>
            <div class="project-image">
                {% block cardimg %}{% endblock %}
            </div>
            <h2>{{ title }}</h2>
            <p>{{ blurb }}</p>
        </article>
    </a>
{% else %}
    {% extends 'base.njk' %}
    {% block body %}
        <a href="/">Mitchell Jeffrey</a>
        <h1 style="margin-top: 3rem; margin-bottom: 3rem;">{{ title }}</h1>
        {% block page %} {% endblock %}
    {% endblock %}
{% endif %}
