{% if style == 'card' %}
    <div class="column column-4">
        <a href="" class="card">
            <div class="card b-dark-medium bg-light r-base zoom">
                <div class="card-image image-cover">
                    <img class="r-top-base" src="{{ cardimg|default('/img/hero.jpg') }}">
                </div>
                <div class="card-box p-2">
                    <div class="card-head">
                        <h2 class="heading-small heading-normal">
                            {% block title %}{% endblock %}
                        </h2>
                    </div>
                    <div class="card-body mt-3">
                        <p class="text-medium">
                            {% block blurb %}{% endblock %}
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endif %}

{% if style == 'page' %}
    <h1>Page</h1>
{% endif %}