{% if card %}
    <div class="column column-4">
        <a href="{{ url }}" class="card">
            <div class="card b-dark-medium bg-light r-base zoom">
                <div class="card-image image-cover">
                    {% block cardimg %}{% endblock %}
                </div>
                <div class="card-box p-2">
                    <div class="card-head">
                        <h2 class="heading-small heading-normal">
                            {{ title }}
                        </h2>
                    </div>
                    <div class="card-body mt-3">
                        <p class="text-medium">
                            {{ blurb }}
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% else %}
    {% extends 'base.njk' %}
    {% block body %}
        <a href="/" style="">Mitchell Jeffrey</a>
        <p class="text-giga mt-12 mb-12">{{ title }}</p>
        {% block page %} {% endblock %}
    {% endblock %}
{% endif %}