{% extends "project.njk" %}

{% set url = '/projects/election.html'%}
{% set title %}2022 Federal Election{% endset %}

{% set blurb %}
    We used spirit, humour and costume to defuse tension with voters and
    encourage them to place a particular candidate last on the ranked choice ballot.
{% endset %}

{% block cardimg %}
    <img class="r-top-base" src="/img/election0.jpg" style="filter: brightness(1.2);">
{% endblock %}

{% block page %}
    <div class="grid">
        <div class="column column-8">
            <p>Australia had a highly unpopular prime minister heading into the 2022 federal election. Some minor parties
            sought to attract the protest vote, but the preference flows suggested on their "how to vote" guides would
            return the incumbent government. I ran an independent campaign to encourage dissatisfied voters to use their
            preferences to bring a change of government.

            <p>A friend and I campaigned in swing seat of Leichhardt. Tying the incumbent government member of
            parliament to the prime minister's unpopularity, the key message was to rank the incumbent last on the
            ballot paper regardless of each voter's first-choice candidate. 

            <h3>Costume design</h3>
            <p>A witty costume is a great way to grab attention (especially from the media), be remembered, and deliver a punchy message.
            This costume concept grew out of some <a target="_blank" href="https://www.instagram.com/smartvoting2022">stickers</a> I
            bought online. In addition to elements of the "chuck them out" message, it referenced political criticisms through
            the <a target="_blank" href="https://www.theguardian.com/australia-news/2019/dec/21/scott-morrison-hawaii-horror-show-pr-disaster-unfolded">Hawaiian shirt</a>
            and pieces of <a target="_blank" href="https://www.abc.net.au/news/2022-05-18/scott-morrison-acknowledges-saying-i-dont-hold-a/13886694">garden hose</a>.

            <h3>Media coverage</h3>
            <ul>
                <li>Hero image during election day, Cairns Post online</li>
                <li>Photo in Sunday Mail election special (state-wide circulation)</li>
                <li>Wiggled my hula-bin in the background during a ABC national news live cross</li>
                <li>One young woman posted the garden hose on her Snapchat story without prompting</li>
            </ul>

            <h3>Highlights</h3>
            <ul>
                <li>For a two-person campaign, we recieved outsized media coverage because of the clever costume imagery.</li>
                <li>Several voters thanked us for helping them vote according to their dislike of the government.</li>
                <li>Many other campaigns loved our concept and presence. We made friends with them and they gave us tips on
                    where to expect media coverage or relocate for greatest impact.
                <li>The friend I begrudgingly recruited admitted we were better dressed and had more fun than the major party he
                    would have otherwise religously campaigned for.</li>
                <li>As a two-person presence, we had limited impact. For greater results, we would need more people to replicate the
                    presence across multiple polling booths.
                </li>
            </ul>
        </div>

        <div class="column column-1"></div>
        <div class="column column-3">
            <img src="/img/election0.jpg">
            <img src="/img/election1.jpg">
            <img src="/img/election2.jpg">
        </div>
    </div>
{% endblock %}