{% extends "project.njk" %}
{% set cardimg = '/img/flight0.jpg' %}

{% block title %}Foldable Flight{% endblock %}

{% block blurb %}
    An online interactive workshop for upper primary students that covers the
    basics of flight, including how to fold two paper planes.
{% endblock %}