{% extends "project.njk" %}
{% set cardimg = '/img/em0.jpg' %}

{% block title %}Magnets & Electricity{% endblock %}

{% block blurb %}
    A surprising workshop about how magnets and electricity are connected, and
    how we use them both to do cool and useful things.
{% endblock %}