{% extends "project.njk" %}

{% set url = '/projects/magnets.html'%}
{% set title %}Magnets & Electricity{% endset %}

{% set blurb %}
    A surprising workshop about how magnets and electricity are connected, and
    how we use them both to do cool and useful things.
{% endset %}

{% block cardimg %}
    <img class="r-top-base" src="/img/em0.jpg" style="filter: brightness(1.2);">
{% endblock %}

{% block page %}
    <div class="grid">
        <div class="column column-8">
            <p>We start with a disarmingly simple demonstration of how electricity and magnets might be connected. This
                usually surprises people and gets them asking more questions (always a good thing!). We then unfold a
                conceptual narrative that touches on electromagnets (a kind of magnet you can turn on and off),
                dump trucks and shake or dynamo torches, which can set up discussions on how we make electricity, or
                use it to power any manner of things with the electric motor.
            <p>Depending on the audience, we can work in discussions about the strength of forces (eg. magnets vs
                gravity); draw parallels to debugging computer code by "pausing time" with experimental equipment;
                and let audiences a chance to predict similar situations using what they've just learned.
            <p>I've found that my electricity and magnets story opens people up to seeing the world differently, and
                could be used to establish rapport ahead of heavier discussions such as the effect of wind turbines
                in our communities.

            <h3>Highly adaptable</h3>
            <p>I've tweaked this content and presented it in a number of formats:
            <ul>
                <li>For remote video conference workshops, with hands-on equipment shipped in advance</li>
                <li>At my market stall, to a large, diverse and casual audience</li>
                <li>At in-person settings such as classrooms</li>
            </ul>
        </div>

        <div class="column column-1"></div>
        <div class="column column-3">
            <video controls class="mb-2">
                <source src="/img/em-demo-reel.mp4" type="video/mp4">
            </video>
            <img src="/img/em0.jpg">
            <img src="/img/em1.jpg">
        </div>
    </div>
{% endblock %}