{% extends "project.njk" %}

{% set cardimg = '/img/em0.jpg' %}
{% set url = '/projects/magnets.html'%}
{% set title %}Magnets & Electricity{% endset %}

{% set blurb %}
    A surprising workshop about how magnets and electricity are connected, and
    how we use them both to do cool and useful things.
{% endset %}