{% extends "project.njk" %}
{% set cardimg = '/img/stall0.jpg' %}

{% block title %}Market Stall{% endblock %}

{% block blurb %}
    A science outreach project that brings surprise, curiosity and delight to
    community markets, delivered off an ironing board.
{% endblock %}