{% extends "project.njk" %}
{% set cardimg = '/img/radio0.jpg' %}

{% block title %}Radio{% endblock %}

{% block blurb %}
    At KFJC 89.7FM I hosted and produced 700+ hours of live radio, plus
    production work and interviews.
{% endblock %}