{% extends "project.njk" %}

{% set cardimg = '/img/radio0.jpg' %}
{% set url = '/projects/radio.html'%}
{% set title %}Radio{% endset %}

{% set blurb %}
    At KFJC 89.7FM I hosted and produced 700+ hours of live radio, plus
    production work and interviews.
{% endset %}