{% extends "project.njk" %}
{% set cardimg = '/img/security0.jpg' %}

{% block title %}Software Security{% endblock %}

{% block blurb %}
    Three lesson plans for senior high school students to explore careers in
    software and security.
{% endblock %}