{% extends "project.njk" %}

{% set cardimg = '/img/security0.jpg' %}
{% set url = '/projects/security.html'%}
{% set title %}Software Security{% endset %}

{% set blurb %}
    Three lesson plans for senior high school students to explore careers in
    software and security.
{% endset %}