{% extends "project.njk" %}
{% set cardimg = '/img/sound0.jpg' %}

{% block title %}Sound Show{% endblock %}

{% block blurb %}
    Connecting the physics of sound to art and music, the Sound Show is a live
    performance for primary students of all ages.
{% endblock %}